body{
	margin: 0;
	padding: 0;
	background: #2B2D33;
}

 
.button {
  position: relative;
 
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 40px;
  transition: .5s all ease-in-out;}
}

.button-wiggle {
  animation: wiggle 4s 2s infinite;
}

@keyframes wiggle {
  5%,
  50% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  15% {
    transform: scale(1.15);
  }
  20% {
    transform: scale(1.15) rotate(-5deg);
  }
  25% {
    transform: scale(1.15) rotate(5deg);
  }
  30% {
    transform: scale(1.15) rotate(-3deg);
  }
  35% {
    transform: scale(1.15) rotate(2deg);
  }
  40% {
    transform: scale(1.15) rotate(0);
  }
}


.button-pulse {
  animation: pulse 2s infinite 3s cubic-bezier(0.25, 0, 0, 1);
  box-shadow: 0 0 0 0 white;
}


.button-float {
  animation: float 1.5s linear alternate infinite;
}

@keyframes float {
  50% {
    transform: translateY(-px);
  }
  100% {
    transform: translateY(-18px);
  }
}


h1 {
  font-weight: 300;
  font-size: 2em;
  text-align: center;
  line-height: 1.3;
  padding: 40px 20px 0 20px;
}
p {
  text-align: center;
  opacity: .8;}
  
  a {
    
    text-decoration: none;
    
  }

.x{
  width: 50px;
  min-height: 50px;
  background: #390000;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.xs{
  width: 50px;
  min-height: 50px;
  background: white;
  padding: 10px;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
 






















.about_image .numbers .wrapper {
    background: var(--wrapper);
    width: 198px;
    padding: 12px 22px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    justify-content: space-between;
    text-align: center;
}

.numbers.year .wrapper h3 {
    font-size: 60px;
    color: var(--green);
}

.numbers .wrapper .name {
    font-weight: 500;
    font-size: 18px;
    color: var(--white);
    font-family: jost, sans-serif;
    line-height: 1.3;
    padding-left: 17px;
}

.about_image .numbers.project {
    bottom: 70px;
    right: -55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.numbers.project .wrapper .yellowText {
    font-size: 60px;
    color: var(--yellow);
}

.numbers.project .wrapper .yellowText span {
    display: inline-block;
}

#about .text {
    padding-left: 60px;
}

#about .text.section_heading {
    text-align: left;
}

.bottom_img {
    position: absolute;
    bottom: -40px;
    right: 4px;
}




.main1{
	width: 100%;
	min-height: 400px;
	background-image: url(https://marketifythemes.net/html/dizme/img/slider/2.jpg);
	background-size: cover;
	
}
.main12{
	width: 100%;
	min-height: 300px;

}
.main2{
	width: 100%;
	min-height: 589px;
	
}
.main3{
	width: 100%;
	min-height: 1800px;
}
.main4{
	width: 100%;
	min-height: 1894px;
}
.main5{
	width: 100%;
	min-height: 1081px;
	background: darkblue;
}
.main6{
	width: 100%;
	min-height: 1556px;
}
.demo{
	width: 30%;
	min-height: 36px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 140px;
	margin-bottom: -40px;



}
.down{
	border: 2px solid #F75023;
	border-radius: 30px;
	font-weight: bold;
	background:#F75023;
	color: white;
	margin-bottom: 10px;



}

.hello{
	min-height: 700px;
	width: 100%;
	margin-top: 100px;
}
.part1{
	width: 100%;
	min-height: 370px;
	float: left;
	margin-top: 100px;
	position: relative;

}
.part2{
	width: 100%;
	min-height: 370px;
	float: left;
	object-fit: cover;
	margin-top: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;

}/*
.icons1{
	width: 10%;
	min-height: 55px;
	background: white;
	border-radius: 10px;
	float: left;
	margin-bottom: 300px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 30px;
	background: #390000;
	margin-left: 0px;
	margin-right: 60px;

}
.icons2{
	width: 10%;
	min-height: 55px;
	background: white;
	border-radius: 10px;
	float: left;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 30px;
	margin-bottom: -300px;
	margin-left: 0px;
	margin-right: -135px;
	z-index: 1;
	
}

.icons3{
	width: 10%;
	min-height: 55px;
	background: white;
	border-radius: 10px;
	float: right;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 30px;
	margin-bottom: 130px;
	margin-right: 0px;
	object-fit: cover;


	

	
}
*/
.hello1{
	width: 100%;
	min-height: 30px;
	color: #F75023;
	font-size: 25px;
	font-weight: 400;
	margin-bottom: 8px;
}
.james{
	color: white;
	width: 100%;
	min-height: 72px;
	font: 60px Jost sans-serif;
}
.creative{
	width: 100%;
	min-height: 23px;
	font: 19px Open-sans, sans-serif;
	color: white;
}
.iam{
	width: 100%;
	min-height: 80px;
	color: white;
	font: 16px Open-sans, sans-serif;
	margin-bottom: 30px;
	padding: 10px 0px;
}
.about{
	width: 100%;
	min-height: 91px;

}
.button1{
	width: 25%;
	min-height: 54px;
	border-radius: 30px;
	background: #F75023;
	color: white;
	border-style: none;
	float: left;
	margin-top: 10px;
	border-style: solid;
	border-width: 1px;
	border-color: #F75023;
}
.button1:hover{
	background:#3F4555 ;
	transition-duration: 1s;
}
.button11{
	width: 25%;
	min-height: 54px;
	border-radius: 30px;
	background: #F75023;
	color: white;
	border-style: none;
	float: left;
	margin-top: 10px;
	border-style: solid;
	border-width: 1px;
	border-color: #F75023;
}
.button11:hover{
	background:#2B2D33 ;
	transition-duration: 1s;
}
.icon{
	min-height: 17px;
	width: 5%;
	float: left;
	margin-left: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 30px;
	
}

.icon1{
	min-height: 17px;
	width:  5%;
	float: left;
	margin-left: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 30px;
	
}

.icon2{
	min-height: 17px;
	width: 5%;
	float: left;
	margin-left: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 30px;
	
}

.icon3{
	min-height: 17px;
	width: 5%;
	float: left;
	margin-left: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 30px;
	
}
.xx{
	margin-left: 620px;
}
/*.part1:before{
	position: absolute;
	content: "";
	width:20%;
	min-height: 150px;
	top: 200px;
	right: 570px;
	background-image: url(../images/blog-top.png);
	background-size: cover;
}
.part2:before{
	position: absolute;
	content: "";
	width: 20%;
	min-height: 200px;
	bottom: 300px;
	background: white;
	left: 300px;
	background-image: url(../images/service-top-img.png);
	background-size: cover;
}
.part1:after{
	position: absolute;
	content: "";
	width: 20%;
	bottom: 300px;
	right: 550px;
	min-height: 200px;
	background-image: url(../images/about_bottom_img.png);
}*/
.icon{
	margin-left: 50px;
}
.part3{
	width: 100%;
	min-height: 331px;
	margin-top: 100px;
	background: #2B2D33;
}
.circle1{
	width: 100%;
	min-height: 260px;
	float: left;
	margin-top: 20px;
	x

}
.circle2{
	width: 100%;
	min-height: 260px;
	float: left;
	margin-left: 10px;
	margin-top: 20px;

}
.circle3{
	width: 100%;
	min-height: 260px;
	float: left;
	margin-left: 10px;
	margin-top: 20px;

}
.icon11{
	min-height: 90px;
	width: 25%;
	margin-left: 130px;
	background-image: url(../images/3.png);
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
}
.icon12{
	min-height: 90px;
	width: 25%;
	margin-left: 130px;
	background-image: url(../images/2.png);
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
	color: hotpink;
	font-size: 25pxs;
}
.icon13{
	min-height: 90px;
	width: 25%;
	margin-left: 130px;
	background-image: url(../images/3.png);
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
}
.pixel{
	width: 100%;
	min-height: 31px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 15px;
	color: white;
	font: 24px Jost, sans-serif;
}
.most{
	width: 100%;
	min-height: 90px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: #B9B5C9;
	font: 16px "Open Sans", sans-serif;
}
.designer:after{
	background-image: url(../images/about_top_img.png);
	position: absolute;
	content: "";
	width:20%;
	min-height: 150px;
	right: 1000px;
	top: 0px;
	background-size: cover;
}
.designer:before{
	background-image: url(../images/porfolio_bottom_img.png);
	position: absolute;
	content: "";
	width:20%;
	min-height: 150px;
	top: 300px;
	right: 20px;
	background-size: cover;
}



.years{
	width: 100%;
	min-height: 480px;
	margin-top: 80px;
	background-image: url(../images/about_img.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	float: left;
}


.designer{
	width: 100%;
	min-height: 480px;
	margin-top: 80px;
	float: left;
	position: relative;
	font-weight: bold;

}
.hisse1{
	width: 100%;
	min-height: 30px;
	display: flex;
	align-items: flex-start;
	justify-content: left;
	font: 22px Jost, sans-serif;
	color: #F75023;
	margin-bottom: 10px;
}
.hisse2{
	width: 100%;
	min-height: 100px;
	display: flex;
	align-items: flex-start;
	justify-content: left;
	font: 40px Jost, sans-serif;
	color: white;
	margin-bottom: 10px;
}
.hisse3{
	width: 100%;
	min-height: 180px;
	display: flex;
	align-items: flex-start;
	justify-content: left;
	color: #B9B5C9;
	margin-top: 20px;
	font: 20px "Open Sans", sans-serif;

}

/*
.soz{
	width: 50%;
	background: blue;
	min-height: 110px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	font: 18px Jost, sans-serif;

}
*/
.success{
	width: 35%;
	min-height: 110px;
	background: #4B4F5C;
	border-radius: 10px;
	margin-left: -80px;
	margin-top: 50px;
	
}
.total{
	width: 35%;
	min-height: 110px;
	background: #4B4F5C;
	border-radius: 10px;
	margin-left: 335px;
	margin-top: 20px;
}
.number{
	width: 50%;
	min-height: 110px;
	border-bottom-left-radius: 10px;
	border-top-left-radius: 10px;
	color: #1CBE59;
	font: 50px Jost, sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	float: left;

}
.number1{
	width: 50%;
	min-height: 110px;
	border-bottom-left-radius: 10px;
	border-top-left-radius: 10px;
	color: #f0c45c ;
	font: 50px Jost, sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	float: left;

}


.soz {
	width: 50%;
	min-height: 110px;
	float: left;
	color: white;
	font: 20px Jost, sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
}





/*/////////////////////////////////////////////////////////////////////////////////////////////////*/
.works.section-big {
    border: none;
    padding-bottom: 0;
}
.portfolio .mix {
    display: none;
}

.filters {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

.filters li {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 10px;
    width: 70px;
    cursor: pointer;
    color: #777;
    font-size: 16px;
    transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;

}

.filters li.active {
    color: #EB4E24;
   
   
}

.filters li span {
    font-size: 20px;
    display: block;
    margin-bottom: 10px;
    margin-top: 5px;
}

.work-items {
    margin-top: 20px;
    margin-right: -10px;
    margin-left: -10px;

}

.work-items .item {
    position: relative;
    overflow: hidden;
    margin: 5px -10px; 

}

.work-items .item img {
    width: 100%;
    transition: 0.8s ease-out;
}

.work-items .overlay{
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    text-align: center;
    opacity: 0;
    transition: 0.3s cubic-bezier(0.4, 0, 1, 1);
    -ms-transition: 0.3s cubic-bezier(0.4, 0, 1, 1);
    -moz-transition: 0.3s cubic-bezier(0.4, 0, 1, 1);
    -webkit-transition: 0.3s cubic-bezier(0.4, 0, 1, 1);
}


.mystyle3{
	width: 100%;
	min-height: 50px;
	color: #777777;
	font-size: 20px;


}
li{
	text-decoration: none;
}
.filter{
	margin-top: -50px;

}

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////*/












.contactme {
	width: 100%;
	min-height: 168.5px;
	margin-bottom: 60px;
	padding-top: 50px;
	padding-right: 230px;
}

.contactme1 {
	width: 100%;
	min-height: 58px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #333333;
	margin-bottom: 50px;
	margin-left: 110px;
	font-size: 30px;
	position: relative;
}
.lili{
	width: 100%;
	min-height: 50px;
	color:#F75023;
	font-weight: 500;
	font: 22px 'Jost', sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 100px;
	margin-bottom: -10px;
	
}
#lala{
	margin-top: -50px;
	justify-items: space-between;
}
.nn{
	display: flex;
	align-items: center;
	justify-content: center;
}
.the1 {
	width: 50%;
	height: 25.5px;
	color: #777777;
	display: flex;
	align-items: center;
	justify-content: center;
	
	margin-left: 100px;
	margin-top: -30px;
	font-size: 15px;
	font-style: sans-serif;
	margin-left: 345px;
	text-align: center;
}


.sekil {
	width: 100%;
	min-height: 246px;
}



.n {
	font: 15px RAleway, sans-serif;
	color: #777777;
}


input.search, span {
  margin-top: 20px;
}

input.search {
  margin-left: 20px;
}


.part22{
	width: 100%;
	min-height: 671px;
}
.part22_1{
	float: left;
	width: 100%;
	min-height: 422px;
	margin-top: 100px;
	float: left;
}
.part22_2{
	float: left;
	width: 100%;
	min-height: 801px;
	background-image: url(../images/skill.jpg);
	background-size: cover;
	margin-bottom: 40px;

}

.bb{
	color: #f75023;
	font: 30px Jost, sans-serif;
	width: 100%;
	min-height: 50px;
	display: flex;
	align-items: center;
	justify-content: left;
}
.bb1{
	color: white;
	font: 45px Jost, sans-serif;
	width: 100%;
	min-height: 100px;
	display: flex;
	align-items: center;
	justify-content: left;
	font-weight: bold;
}
.common{
	width: 100%;
	min-height: 70px;
	display: flex;
	justify-content: left;
	align-items: center;
	color: #9693A4;
	font: 22px "Open Sans", sans-serif;
}
.loader{
	width: 100%;
	min-height: 400px;
	display: flex;
	align-items: center;
	justify-content: left;
	margin-right: 50px;
	
}



/////////////////////////////////////////////////////////////////////////////////////////////////////////


.dodo_progress {
    width: 10%;
    height: auto;
    clear: both;
    float: left;
    padding-top: 30px;
    overflow: hidden
}

.progress_inner {
    width: 40%;
    margin-bottom: 22px;

}

.progress_inner:last-child {
    margin-bottom: 0;
    margin-right: 100px;

}

.progress_inner>span {
    margin: 0 0 9px;
    display: block;
    text-align: left;
    position: relative
}

.progress_inner span.label {
    opacity: 0;
    transform: translateY(10px);
    display: block;
    color: #000;
    font-size: 18px;
    margin-right: 500px;
    font-weight: 500;
    color: white;
    font-family: jost, sans-serif;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease
}

.progress_inner span.label.opened {
    opacity: 1;
    transform: translateY(0px)
}

.progress_inner span.number {
    float: right;
    position: absolute;
    right: 100%;
    bottom: -50px;
    transition: all 2s cubic-bezier(.165, .84, .44, 1);
    color: #f75023;
    font-size: 16px;
    font-family: jost, sans-serif;
   
}

.progress_inner .background {
    background: #e7e5f1;
    width: 100%;
    min-width: 100%;
    position: relative;
    height: 8px;
    border-radius: 50px
}

.progress_inner .background .bar_in {
    height: 8px;
    width: 0;
    overflow: hidden;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    position: relative;
    top: 0
}

.progress_inner .background .bar {
    width: 0;
    height: 100%
}

.progress_inner .background .bar.open {
    -webkit-animation: wow 2s cubic-bezier(.165, .84, .44, 1);
    -moz-animation: wow 2s cubic-bezier(.165, .84, .44, 1);
    animation: wow 2s cubic-bezier(.165, .84, .44, 1);
    width: 100%
}

@-webkit-keyframes wow {
    0% {
        width: 0%
    }

    100% {
        width: 100%
    }
}

@-moz-keyframes wow {
    0% {
        width: 0%
    }

    100% {
        width: 100%
    }
}

@keyframes wow {
    0% {
        width: 0%
    }

    100% {
        width: 100%
    }
}



.card{
	width: 100%;
	min-height: 372px;
	float: left;
	margin-top: 50px;
	margin-bottom: 25px;
	background: #4B4F5C;
	border-radius: 12px;


}

.card1{
	width: 100%;
	min-height: 372px;
	float: left;
	margin-top: 50px;
	margin-bottom: 25px;
	background: #4B4F5C;
	border-radius: 12px;
	position: relative;


}
.card1:after{
	content: "";
	position: absolute;
	top: -200px;
	left: 350px;
	width: 60%;
	min-height: 300px;
	background-image: url(../images/service-top-img.png);
	background-size: cover;
	background-repeat: no-repeat;
}

.card1:before{
	content: "";
	position: absolute;
	top: -400px;
	right: 950px;
	width: 70%;
	min-height: 400px;
	background-image: url(../images/service_top_left.png);
	background-size: cover;
	background-repeat: no-repeat;

}
.iicon{
	width: 40%;
	min-height: 372px;
	float: left;
}
.start{
	width: 60%;
	min-height: 73px;
	margin-top: 50px;
	float: left;
}
.start1{
	width: 60%;
	min-height: 240px;
	float: left;
	display: flex;
	align-items: center;
	justify-content: left;
	color: #AFABBF;
	font: 20px "Open Sans", sans-serif;
	margin-top: -28px;
	margin-left: -10px;
	text-align: center;

}
.image{
	width: 43%;
	min-height: 95px;
	background-image: url(../images/service-icon-1.png);
	background-repeat: no-repeat;
	background-size: cover;
	margin-left: 50px;
	margin-top: 70px;

}

.image2{
	width: 43%;
	min-height: 95px;
	background-image: url(../images/service-icon-2.png);
	background-repeat: no-repeat;
	background-size: cover;
	margin-left: 50px;
	margin-top: 50px;
}
.image3{
	width: 43%;
	min-height: 95px;
	background-image: url(../images/service-icon-3.png);
	background-repeat: no-repeat;
	background-size: cover;
	margin-left: 50px;
	margin-top: 50px;
}
.image4{
	width: 43%;
	min-height: 95px;
	background-image: url(../images/service-icon-4.png);
	background-repeat: no-repeat;
	background-size: cover;
	margin-left: 50px;
	margin-top: 50px;
}
/////////////////////////////////////////////////////////////////////////////////////////


@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
  cursor: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  width: 100%;
  height: 100%;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

h1 {
  font-family: montserrat;
  font-size: 40px;
}

a {
  font-family: Montserrat;
  position: relative;
  text-decoration: none;
}

a:after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  margin-top: 0px;
  left: 0%;
  background: black;
  transition: width .3s ease;
}

a:hover:after{
  width: 100%;
  left: 0%;
  background: black;
}

.cursor {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 2px solid #f75023;
  transition: all 200ms ease-out;
  position: fixed;
  pointer-events: none;
  left: 0;
  top: 0;
  transform: translate(calc(-50% + 15px), -50%);
  z-index: 99999999999999999999999999;
}

.cursor2 {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #f75023;
 /* opacity: .3;*/
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: width .3s, height .3s, opacity .3s;
   z-index: 99999999999999999999999999;
}

.hover {
  background-color: red;
  opacity: 0.5;
}

.cursorinnerhover {
  width: 50px;
  height: 50px;
  opacity: .5;
}
/*///////////////////////////////////////////////////////////////////////////////*/




.input1{
	width: 100%;
	min-height: 310px;
	float: left;
	margin-top: 25px;
	
}
.input2{
	width: 100%;
	min-height: 310px;
	float: left;
}
.address{
	width: 100%;
	min-height: 88px;
	margin-bottom: 5px;
	position: relative;

}
.address::after{
	position: absolute;
	content: " ";
	bottom: 150px;
	left: -175px;
	width: 25%;
	min-height: 150px;
	background-image: url(../images/contact_left.png);
	background-size: cover;
	background-repeat: no-repeat;
}
.email{
	width: 100%;
	min-height: 88px;
	margin-bottom: 5px;

}
.phone{
	width: 100%;
	min-height: 88px;
	margin-bottom: 5px;
	position: relative;

}
.phone::before{
	position: absolute;
	content: "";
	color: darkred;
	min-height:150px;
	width: 25%;
	top: 150px;
	left: 150px;
}
.address1{
	min-height: 88px;
	background: #FEDFD7;
	border-radius: 100%;
	width: 17%;
	float: left;
	display: flex;
	align-items: center;
	justify-content: center;
	display: flex;
	justify-content: center;
	align-items: center;

}
.address2{
	min-height: 39px;
	width: 79%;
	margin-left: 10px;
	float: left;
	margin-left: 10px;
	color: white;
	font-weight: bold;
	font: 30px Jost, sans-serif;
	margin-left: 15px;

}
.address3{
	width: 79%;
	min-height: 22px;
	margin-left: 10px;
	color: #b9b5c9;
	float: left;
	font: 16px "Open Sans", sans-serif;
	margin-left: 15px;
}



.email1{
	min-height: 88px;
	background: #DDF5E6;
	border-radius: 100%;
	width: 17%;
	float: left;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #1CBE59;
}
.email2{
	min-height: 39px;
	width: 79%;
	float: left;
	margin-left: 20px;
	color: white;
	font-weight: bold;
	font: 30px Jost, sans-serif;
	margin-left: 15px;

}
.email3{
	width: 79%;
	min-height: 22px;
	margin-left: 20px;
	color: #b9b5c9;
	float: left;
	font: 16px "Open Sans", sans-serif;
	margin-left: 15px;
}


.phone1{
	min-height: 88px;
	background: #D8D4E7;
	border-radius: 100%;
	width: 17%;
	float: left;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #8067F0;

}
.phone2{
	min-height: 39px;
	width: 79%;
	float: left;
	margin-left: 20px;
	color: white;
	font-weight: bold;
	font: 30px Jost, sans-serif;
	margin-left: 15px;

}
.phone3{
	width: 79%;
	min-height: 22px;
	color: #b9b5c9;
	float: left;
	margin-left: 20px;
	font: 16px "Open Sans", sans-serif;
	margin-left: 15px;
}
.your1{
	width: 100%;
	min-height: 58px;
	margin-top: 10px;



}
.your2{
	width: 100%;
	min-height: 58px;
	margin-top: 10px;
}
.your11{

	width: 48%;
	min-height: 58px;
	float: left;
	border-style: solid;
	border-color: rgba(214,219,229,.36);;
	border-radius: 10px;
	border-width: 1px;
}
.your12{
	width: 48%;
	min-height: 58px;
	float: left;
	margin-left: 20px;
	border-style: solid;
	border-color: rgba(214,219,229,.36);;
	border-radius: 10px;
	border-width: 1px;
}

.your21{
	width: 48%;
	min-height: 58px;
	
	float: left;
	border-style: solid;
	border-color: rgba(214,219,229,.36);;
	border-radius: 10px;
	border-width: 1px;
}
.your22{
	width: 48%;
	min-height: 58px;
	float: left;
	margin-left: 20px;
	border-style: solid;
	border-color: rgba(214,219,229,.36);;
	border-radius: 10px;
	border-width: 1px;
}
.write{
	width: 100%;
	min-height: 183px;
	border-style: solid;
	border-color: rgba(214,219,229,.36);;
	border-radius: 10px;
	border-width: 1px;
	margin-top: 10px;
	

}
.xs{
	color: black;
	width: 50px;
	min-height: 50px;
}
